<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>全部课程</title>
	<link rel="stylesheet" href="/GraduationProject/Public/css/bootstrap.min.css">
	<link rel="stylesheet" href="/GraduationProject/Public/css/style.css">
	<link rel="stylesheet" href="/GraduationProject/Public/css/allcourse.css"></head>
	<link rel="stylesheet" href="/GraduationProject/Public/css/font-awesome.min.css" />
<body>
	<empty name="Think.session.user">
    	<include file="Public/header" />
    	<else />
    	<include file="Public/header-login"/>
    </empty>
	<div class="container">
		<div class="course-nav-box">
			<div class="course-nav-hd">
				<span>全部课程</span>
			</div>
			<div class="course-nav-row clearfix">
				<span class="hd l">分类：</span>
				<div class="bd">
					<ul>
						<li class="course-nav-item <eq name="Think.get.type" value="">on</eq>">
							<a href="{:U('Index/allcourse',array('sort'=>$s))}">全部</a>
						</li>
						<foreach name='type' item='v'>
							<li class="course-nav-item <eq name="Think.get.type" value="$v['id']">on</eq>">
								<a href="{:U('Index/allcourse',array('type'=>$v['id'],'sort'=>$s))}">{$v.class_type}</a>
							</li>
						</foreach>
					</ul>
				</div>
			</div>
			<div class="course-tool-bar clearfix">
				<div class="tool-left l">
					<a class='last' href="{:U('Index/allcourse',array('type'=>$t,'sort'=>'addtime'))}">最新</a>
					<a class='hot active' href="{:U('Index/allcourse',array('type'=>$t,'sort'=>'join_num'))}">最热</a>
				</div>
				<div class="tool-right r">
					<span class="tool-item tool-pager">
						<!-- {$page} -->
						<!-- <span class="pager-num"> <b class="pager-cur">1</b>
							/ <em class="pager-total">26</em>
						</span>
						<a href="#" class="pager-action pager-prev hide-text disabled">上一页</a>
						<a href="#" class="pager-action pager-next hide-text">下一页</a> -->
					</span>
				</div>
			</div>
			<div class="course-list">
				<div class="js-course-lists">
					<div class="container">
						<div class="row text-center">
							<foreach name='rs' item='v'>
								<div class="col-md-3 col-sm-6">
									<empty name="Think.session.user">
										<a href="{:U('index/course',array('id'=>$v['id']))}">
								    	<else />
								    	<empty name='isjoin'>
								    		<a href="{:U('index/course',array('id'=>$v['id']))}">
								    		<else/>
									    	<foreach name='isjoin' item='vv'>
												<eq name="vv['cid']" value="$v['id']">
													<a href="{:U('index/courselist',array('id'=>$v['id']))}">
													<?php break; ?>
													<else/>
													<a href="{:U('index/course',array('id'=>$v['id']))}">
												</eq>
											</foreach>
										</empty>
								    </empty>
										<div class="course-item">
											<div class="course-img">
												<img class="courseimg" src="{$v.course_pic}" alt="lesson"></div>
											<div class="course-info">
												<div class="title">
													<foreach name='isjoin' item='vv'>
														<eq name="vv['cid']" value="$v['id']">
															<span>已学</span>
														</eq>
													</foreach>
													{$v.course_name}
												</div>
												<div class="metas clearfix">
													<span class="update-time">{$v.addtime|date="y-m-d",###}</span>
													<span class="num">{$v.join_num}人参加</span>
												</div>
											</div>
										</div>
									</a>
								</div>
							</foreach>
						</div>
					</div>
				</div>
				<div class="page">
					{$page}
					<!-- <span class="disabled_page">首页</span>
					<span class="disabled_page">上一页</span>
					<a href="#" class="active">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">下一页</a>
					<a href="#">尾页</a> -->
				</div>
			</div>
		</div>
	</div>

	<include file="Public/footer" />

	<script src="/GraduationProject/Public/js/jquery.min.js"></script>
	<script src="/GraduationProject/Public/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	$(function(){
		var sort = '{$Think.get.sort}';
		var p = '{$Think.get.p}';
		if (sort == 'addtime') {
			$('.hot').removeClass('active');
			$('.last').addClass('active');
		}
		if (sort == 'join_num') {
			$('.last').removeClass('active');
			$('.hot').addClass('active');
		}
	});
	</script>
</body>
</html>