<extend name="Index/index" />

<block name='nav'>
	<li>
		<a href="{:U('Index/index')}"> <i class="fa fa-fw fa-home"></i>
			首页
		</a>
	</li>
	<li>
		<a href="javascript:void(0);" data-toggle="collapse" data-target="#course_management"> <i class="fa fa-fw fa-book"></i>
			课程
			<i class="fa fa-fw fa-caret-down d r"></i>
		</a>
		<ul id="course_management" class="collapse in">
			<li class="active">
				<a href="{:U('Course/course')}">课程管理</a>
			</li>
			<li>
				<a href="{:U('Course/coursetype')}">课程类型管理</a>
			</li>
		</ul>
	</li>
	<eq name='Think.session.admin_user.isteach' value='2'>
		<li>
			<a href="javascript:void(0);" data-toggle="collapse" data-target="#user_management"><i class="fa fa-fw fa-users"></i>
				用户
				<i class="fa fa-fw fa-caret-right fa-caret-down dd r"></i></a>
			<ul id="user_management" class="collapse">
				<li>
	                <a href="{:U('User/user')}">用户管理</a>
	            </li>
	            <li>
	                <a href="{:U('user/teacher')}">教师管理</a>
	            </li>
	            
	        </ul>
		</li>
	</eq>
</block>

<block name='course_manage'>
	<div class="row">
		<div class="col-md-12">
			<h3 class="page-header">试题管理</h3>
			<ol class="breadcrumb">
				<li>
					<a href="{:U('Index/index')}">首页</a>
				</li>
				<li>
					<a href="{:U('Course/course')}">课程</a>
				</li>
				<li><a href="{:U('Course/course')}">课程管理</a></li>
				<li class="active">试题管理</li>
			</ol>
			<!-- 添加成功提示框 -->
			<div id="success" class="alert alert-success hide">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
				<div class="success"></div>
			</div>
			<!-- ** -->
			<div class="heading list-group-item active clearfix">
				<h4 class="l_heading">
					{$rs['course'].course_name}
					<button class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#add"> <i class="fa fa-fw fa-plus"></i>
						试题
					</button>
				</h4>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<ul class="list-group">
				<foreach name="rs.ck" item='v' key='k'>
					<li class="list-group-item clearfix">
						<div class="item-content"> <i class="fa fa-fw fa-file-video-o"></i>
							试题{$k+1}：{$v.subject}
						</div>
						<div class="item-action">

							<a href="#" class="btn btn-link modify" data-toggle="modal" data-target="#edit" data-id="{$v.id}" data-sub="{$v.subject}" data-oa="{$v.option_a}" data-ob="{$v.option_b}" data-oc="{$v.option_c}" data-od="{$v.option_d}" data-a="{$v.answer}"><i class="fa fa-fw fa-edit"></i>编辑</a>

							<a href="javascript:void(0);" class="btn btn-link del" data-id="{$v.id}" data-key="{$k+1}"><i class="fa fa-fw fa-trash"></i>删除</a>

						</div>
					</li>
				</foreach>
			</ul>
		</div>
	</div>

	<!-- 添加试题模态框 -->
	<div class="modal fade" id="add" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">添加试题</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form" id="addques">
						<div class="form-group left">
							<label for="name" class="col-md-2 control-label">课程名称</label>
							<div class="col-md-9">
								<input type="text" class="form-control name" disabled name="name" data-id="{$rs['course'].id}" value="{$rs['course'].course_name}">
							</div>
						</div>
						<div class="form-group left">
							<label for="checkout" class="col-md-2 control-label">题目</label>
							<div class="col-md-9">
								<textarea class="form-control checkout" name="checkout" id="checkout" rows="3"></textarea>
								<div class="help-block q"></div>
							</div>
						</div>
						<div class="form-group left">
							<label for="option-a" class="col-md-2 control-label">选项A</label>
							<div class="col-md-9">
								<textarea class="form-control option-a o" name="option-a" id="option-a" rows="3"></textarea>
								<div class="help-block a"></div>
							</div>
						</div>
						<div class="form-group left">
							<label for="option-b" class="col-md-2 control-label">选项B</label>
							<div class="col-md-9">
								<textarea class="form-control option-b o" name="option-b" id="option-b" rows="3"></textarea>
								<div class="help-block b"></div>
							</div>
						</div>
						<div class="form-group left">
							<label for="option-c" class="col-md-2 control-label">选项C</label>
							<div class="col-md-9">
								<textarea class="form-control option-c o" name="option-c" id="option-c" rows="3"></textarea>
								<div class="help-block c"></div>
							</div>
						</div>
						<div class="form-group left">
							<label for="option-d" class="col-md-2 control-label">选项D</label>
							<div class="col-md-9">
								<textarea class="form-control option-d o" name="option-d" id="option-d" rows="3"></textarea>
								<div class="help-block d"></div>
							</div>
						</div>
						<div class="form-group left">
							<label for="type" class="col-md-2 control-label">答案</label>
							<div class="col-md-9">
								<select class="form-control answ" name='answ' id="answ">
									<option value='a'>A</option>
									<option value='b'>B</option>
									<option value='c'>C</option>
									<option value='d'>D</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" 
               data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" id="saveques">添加</button>
				</div>
			</div>
		</div>
	</div>
	<!-- ***结束** -->

	<!-- 编辑试题模态框 -->
	<div class="modal fade" id="edit" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">修改试题</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form" id="ediques">
						<div class="form-group left">
							<label for="name" class="col-md-2 control-label">课程名称</label>
							<div class="col-md-9">
								<input type="text" class="form-control name" disabled name="name" value="{$rs['course'].course_name}">
							</div>
						</div>
						<div class="form-group left">
							<label for="checkout" class="col-md-2 control-label">题目</label>
							<div class="col-md-9">
								<textarea class="form-control checkout" name="checkout" id="checkout" rows="3"></textarea>
								<div class="help-block q"></div>
							</div>
						</div>
						<div class="form-group left">
							<label for="option-a" class="col-md-2 control-label">选项A</label>
							<div class="col-md-9">
								<textarea class="form-control option-a" name="option-a" id="option-a" rows="3"></textarea>
								<div class="help-block a"></div>
							</div>
						</div>
						<div class="form-group left">
							<label for="option-b" class="col-md-2 control-label">选项B</label>
							<div class="col-md-9">
								<textarea class="form-control option-b" name="option-b" id="option-b" rows="3"></textarea>
								<div class="help-block b"></div>
							</div>
						</div>
						<div class="form-group left">
							<label for="option-c" class="col-md-2 control-label">选项C</label>
							<div class="col-md-9">
								<textarea class="form-control option-c" name="option-c" id="option-c" rows="3"></textarea>
								<div class="help-block c"></div>
							</div>
						</div>
						<div class="form-group left">
							<label for="option-d" class="col-md-2 control-label">选项D</label>
							<div class="col-md-9">
								<textarea class="form-control option-d" name="option-d" id="option-d" rows="3"></textarea>
								<div class="help-block d"></div>
							</div>
						</div>
						<div class="form-group left">
							<label for="type" class="col-md-2 control-label">答案</label>
							<div class="col-md-9">
								<select class="form-control answ" name='answ' id="answ">
									<option value='a'>A</option>
									<option value='b'>B</option>
									<option value='c'>C</option>
									<option value='d'>D</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" 
               data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" id="editques">修改</button>
				</div>
			</div>
		</div>
	</div>
	<!-- ***结束** -->

</block>
<block name='script'>
	<script src="__PUBLIC__/admin_js/checkout.js"></script>
</block>