<extend name="Index/index" />

<block name='nav'>
	<li>
		<a href="{:U('Index/index')}"> <i class="fa fa-fw fa-home"></i>
			首页
		</a>
	</li>
	<li>
		<a href="javascript:void(0);" data-toggle="collapse" data-target="#course_management"> <i class="fa fa-fw fa-book"></i>
			课程
			<i class="fa fa-fw fa-caret-down d r"></i>
		</a>
		<ul id="course_management" class="collapse in">
			<li>
				<a href="{:U('Course/course')}">课程管理</a>
			</li>
			<li class="active">
				<a href="{:U('Course/coursetype')}">课程类型管理</a>
			</li>
		</ul>
	</li>
	<empty name='Think.session.admin_user.id'>
		<li>
			<a href="javascript:void(0);" data-toggle="collapse" data-target="#user_management"><i class="fa fa-fw fa-users"></i>
				用户
				<i class="fa fa-fw fa-caret-right fa-caret-down dd r"></i></a>
			<ul id="user_management" class="collapse">
				<li>
	                <a href="{:U('User/user')}">用户管理</a>
	            </li>
	            <li>
	                <a href="{:U('user/teacher')}">教师管理</a>
	            </li>
	            
	        </ul>
		</li>
	</empty>
</block>

<block name='course_manage'>
	<div class="row">
		<div class="col-md-12">
			<h3 class="page-header">课程类型管理</h3>

			<ol class="breadcrumb">
				<li>
					<a href="{:U('Index/index')}">首页</a>
				</li>
				<li>
					<a href="{:U('Course/course')}">课程</a>
				</li>
				<li class="active">课程类型管理</li>
			</ol>
			<!-- 添加成功提示框 -->
			<div id="success" class="alert alert-success hide">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
				<div class="success"></div>
			</div>
			<!-- ** -->
			<button class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#add"> <i class="fa fa-fw fa-plus"></i>
				新建课程类型
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div id="table">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>课程类型</th>
							<th>显示序号</th>
							<th>分类编码</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<volist name="type" id='type'>
							<tr>
								<td>{$type.id}</td>
								<td>{$type.class_type}</td>
								<td>{$type.ord}</td>
								<td>{$type.code}</td>
								<td>
									<button class="btn btn-default btn-sm modify" data-toggle="modal" data-target="#edit" data-id="{$type.id}" data-type="{$type.class_type}" data-ord="{$type.ord}" data-code="{$type.code}"> <i class="fa fa-fw fa-edit"></i>
										编辑
									</button>
								</td>
							</tr>
						</volist>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- 添加分类模态框 -->
	<div class="modal fade" id="add" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">添加课程分类</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
						<div class="form-group left">
							<label for="name" class="col-md-2 control-label">课程分类</label>
							<div class="col-md-9">
								<input type="text" class="form-control name" name="name" placeholder="请输入课程分类">
								<div class="help-block"></div>
							</div>
						</div>
						<div class="form-group left">
							<label for="order" class="col-md-2 control-label">显示序号</label>
							<div class="col-md-9">
								<input type="text" class="form-control order" name="order" placeholder="请输入显示序号" value="0">
								<div class="help-block">显示序号需为整数，分类按序号的顺序从小到大排序。</div>
							</div>
						</div>
						<div class="form-group left">
							<label for="code" class="col-md-2 control-label">分类编码</label>
							<div class="col-md-9">
								<input type="text" class="form-control code" name="code" placeholder="请输入课程编码">
								<div class="help-block">必填，建议使用分类名称的英文单词或缩写作为编码。</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" 
               data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" id="savesort">保存</button>
				</div>
			</div>
		</div>
	</div>
	<!-- ***结束** -->

	<!-- 编辑分类模态框 -->
	<div class="modal fade" id="edit" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">编辑分类</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
						<div class="form-group left">
							<label for="name" class="col-md-2 control-label">课程分类</label>
							<div class="col-md-9">
								<input type="text" class="form-control name" name="name" placeholder="请输入课程分类">
								<div class="help-block"></div>
							</div>
						</div>
						<div class="form-group left">
							<label for="order" class="col-md-2 control-label">显示序号</label>
							<div class="col-md-9">
								<input type="text" class="form-control order" name="order" placeholder="请输入显示序号" value="0">
								<div class="help-block">显示序号需为整数，分类按序号的顺序从小到大排序。</div>
							</div>
						</div>
						<div class="form-group left">
							<label for="code" class="col-md-2 control-label">分类编码</label>
							<div class="col-md-9">
								<input type="text" class="form-control code" name="code" placeholder="请输入课程编码">
								<div class="help-block">必填，建议使用分类名称的英文单词或缩写作为编码。</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" id="del">
						<i class="fa fa-fw fa-trash"></i>
						删除
					</button>
					<button type="button" class="btn btn-default" 
               data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary" id="editsort">保存</button>
				</div>
			</div>
		</div>
	</div>
	<!-- **结束** -->
</block>

<block name='script'>
<script src="/GraduationProject/Public/admin_js/coursetype.js" charset="utf-8"></script>
</block>